<mat-card fxFlex fxFlexAlign="center">
  <div fxLayoutGap="10px">
    <mat-card-header fxLayout="column" fxLayoutGap="10px">
      <mat-card-title>
        {{task.title}}
      </mat-card-title>
<!--      <span>{{task.description ? task.description : "No description" }}</span>-->
    </mat-card-header>
    <mat-card-content style="padding: 10px">
      <mat-chip-listbox fxLayout="row" >
        <mat-chip *ngFor="let dep of task.departments">{{dep.departmentName}}</mat-chip>
      </mat-chip-listbox>
    </mat-card-content>
    <mat-card-footer style="padding:10px" fxLayout="row" fxLayoutGap="15px">
      <button mat-button (click)="onEditClicked()">Edit</button>
      <span fxFlex></span>
      <button mat-button>Delete</button>
    </mat-card-footer>
  </div>

</mat-card>
