<div fxFlexFill style="align-items: center; justify-content: center">
  <mat-card fxFlex="30" fxLayout="column">
    <mat-card-header>
      <h1>Admin login</h1>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" fxFlex fxLayout="column">
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input formControlName="email" matInput type="email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input formControlName="password" label="Password" matInput type="password">
        </mat-form-field>
        <button [disabled]="loginForm.invalid" mat-raised-button type="submit">Login</button>
      </form>
    </mat-card-content>

  </mat-card>
</div>


