<div fxFlexFill style="align-items: center; justify-content: center">
  <mat-card fxFlex="30" fxLayout="column" >
    <mat-card-header>
      <img ngSrc="/assets/logo/VR_black.svg" alt="Vestlia Resort" height="16" width="16">
    </mat-card-header>
    <mat-card-content>
      <form fxFlex fxLayout="column" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput type="email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput label="Password" type="password" formControlName="password">
        </mat-form-field>
        <button [disabled]="loginForm.invalid" mat-raised-button type="submit">Login</button>
      </form>
    </mat-card-content>

  </mat-card>
</div>


