<div fxFlex fxLayout="column" style="overflow: hidden">
  <div fxLayout="row" style="margin-bottom: 10px">
    <div fxFlex fxLayout="column" fxLayoutGap="15px">
      <div fxLayout="row">
        <mat-label style="padding: 5px; font-size: x-large">Total number of reserved meals:</mat-label>
        <mat-chip color="primary" highlighted="true"><span style="font-size: large;">{{reservationCount}}</span>
        </mat-chip>
      </div>
      <div fxLayout="row" fxLayoutGap="15px">
        <mat-chip highlighted="true" style="padding: 5px; background-color: #ffcda1"><span style="font-size: large;">Lunches: {{reservationCountLunch}}</span>
        </mat-chip>
        <mat-chip highlighted="true" style="padding: 5px; background-color: #dbc6ac"><span style="font-size: large">Dinners: {{reservationCountDinner}}</span>
        </mat-chip>

        <button (click)="refreshData()" [matTooltip]="'Update reservation list'" mat-icon-button>
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </div>
    <span fxFlex></span>
    <h1 style="margin-right: 20px">Reservations for: {{displayDate | date}}</h1>

  </div>
  <div #self *ngIf="dataReady" [ngStyle]="{'max-height': parentH+'px', 'height': parentH+'px'}"
       class="example-container">
    <table *ngIf="!noReservationAvailable" [dataSource]="reservations" mat-table>
      <ng-container matColumnDef="employeeNumber">
        <th *matHeaderCellDef mat-header-cell> Employee No.</th>
        <td *matCellDef="let element" mat-cell> {{element.employeeNumber}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> Name</th>
        <td *matCellDef="let element" mat-cell> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="department">
        <th *matHeaderCellDef mat-header-cell> Departments</th>
        <td *matCellDef="let element" mat-cell> {{element.departments ? element.departments.join(", ") : ""}} </td>
      </ng-container>
      <ng-container matColumnDef="meals">
        <th *matHeaderCellDef mat-header-cell> Meals</th>
        <td *matCellDef="let element" mat-cell> {{element.mealType ? element.mealType.join(", ") : ""}} </td>
      </ng-container>
      <ng-container matColumnDef="numberOfMeals">
        <th *matHeaderCellDef mat-header-cell> Number of Meals</th>
        <td *matCellDef="let element" mat-cell> {{element.mealType.length}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
    <mat-label *ngIf="noReservationAvailable" fxFlex
               style="margin: 15px auto; text-align: center; font-size: xx-large;">No Recorded meals available for this month
    </mat-label>

  </div>

  <mat-spinner *ngIf="!dataReady" style="margin: 0 auto"></mat-spinner>
</div>
