<mat-card fxFlex fxLayoutGap="20px" style="padding: 15px">
  <mat-card-header>
    <mat-card-title>Create new employee</mat-card-title>
  </mat-card-header>
  <mat-card-content style="padding: 15px">
    <form (ngSubmit)="createUser()" [formGroup]="createForm" fxLayout="column" fxLayoutAlign="center center"
          fxLayoutGap="15px">

      <mat-form-field fxFlex style="width: 100%">
        <mat-label>E-mail</mat-label>
        <input formControlName="email" matInput type="email">
      </mat-form-field>

      <mat-form-field fxFlex style="width: 100%">
        <mat-label>Employee Number</mat-label>
        <input formControlName="employeeNumber" matInput type="test">
      </mat-form-field>
      <mat-form-field fxFlex style="width: 100%">
        <mat-label>First Name</mat-label>
        <input formControlName="firstName" matInput type="text">
      </mat-form-field>
      <mat-form-field fxFlex style="width: 100%">
        <mat-label>Last Name</mat-label>
        <input formControlName="lastName" matInput type="text">
      </mat-form-field>

      <mat-form-field fxFlex style="width: 100%">
        <mat-label>Departments</mat-label>
        <mat-select formControlName="departments" multiple
                    [compareWith]="objectComparisonFunction">
          <mat-option *ngFor="let depart of departmentList" [value]="depart">{{depart.departmentName}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex style="width: 100%">
        <mat-label>Roles</mat-label>
        <mat-select formControlName="roles" multiple>
          <mat-option *ngFor="let r of validRoles" [value]="r">{{r}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button style="width: 50%" type="submit">Create</button>
    </form>
  </mat-card-content>
</mat-card>
