<mat-card fxFlex fxLayoutGap="20px" style="padding: 15px">
  <mat-card-header>
    <mat-card-title>Create new employee</mat-card-title>
  </mat-card-header>
  <mat-card-content style="padding: 15px">
    <form fxLayoutGap="15px" fxLayoutAlign="center center" fxLayout="column" [formGroup]="editForm"
          (ngSubmit)="onSubmit()">

      <mat-form-field fxFlex style="width: 100%">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>

      <mat-form-field fxFlex style="width: 100%">
        <mat-label>Employee Number</mat-label>
        <input matInput type="test" formControlName="employeeNumber">
      </mat-form-field>
      <mat-form-field fxFlex style="width: 100%">
        <mat-label>First Name</mat-label>
        <input matInput type="text" formControlName="firstName">
      </mat-form-field>
      <mat-form-field fxFlex style="width: 100%">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" formControlName="lastName">
      </mat-form-field>

      <mat-form-field fxFlex style="width: 100%">
        <mat-label>Departments</mat-label>
        <mat-select multiple formControlName="departments">
          <mat-option *ngFor="let d of departmentList" [value]="d.id">{{d.id}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex style="width: 100%">
        <mat-label>Roles</mat-label>
        <mat-select multiple formControlName="roles">
          <mat-option *ngFor="let r of validRoles" [value]="r">{{r}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button type="submit" style="width: 50%">Create</button>
    </form>
  </mat-card-content>
</mat-card>
