<div fxFlex fxLayout="column" style="overflow: hidden">
  <mat-card>
    <mat-card-content>
      <form (ngSubmit)="onSearch()" [formGroup]="searchForm" fxFlex fxLayout="row" fxLayoutAlign="center center"
            fxLayoutGap="15px">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input formControlName="searchName" matInput type="text">
        </mat-form-field>
        <mat-form-field *ngIf="departmentList !== undefined">
          <mat-label>Department</mat-label>
          <mat-select formControlName="searchDepartment">
            <mat-option *ngFor="let dep of departmentList" [value]="dep.name">
              {{dep.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div fxLayout="row" fxLayoutGap="20px">
          <button fxFlex mat-raised-button type="submit">Search</button>
          <button (click)="onReset()" fxFlex mat-raised-button type="reset">Reset</button>
        </div>
      </form>
      <span fxFlex></span>
      <div fxLayout="row" fxLayoutGap="20px">
        <button (click)="refreshData()" [matTooltip]="'Update employee list'" mat-icon-button>
          <mat-icon>refresh</mat-icon>
        </button>
        <button (click)="createNewUser()" class="create-user-btn" mat-raised-button>
          <mat-icon>person</mat-icon>
          Add new user
        </button>
        <button (click)="createNewDepartment()" class="create-dep-btn" mat-raised-button>
          <mat-icon>badge</mat-icon>
          Add new department
        </button>
        <button (click)="refreshUserDate()" class="create-dep-btn" mat-raised-button
                style="background-color: aquamarine; color: black">
          <mat-icon>sync</mat-icon>
          Import from Planday
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <div #self *ngIf="dataReady" [ngStyle]="{'max-height': parentH+'px', 'height': parentH+'px'}"
       class="example-container">
    <table [dataSource]="employees" mat-table>
      <ng-container matColumnDef="employeeNumber">
        <th *matHeaderCellDef mat-header-cell> Employee No.</th>
        <td *matCellDef="let element" mat-cell> {{element.employeeNumber}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> Name</th>
        <td *matCellDef="let element" mat-cell> {{element.firstName}} {{element.lastName}} </td>
      </ng-container>
      <ng-container matColumnDef="department">
        <th *matHeaderCellDef mat-header-cell> Departments</th>
        <td *matCellDef="let element" mat-cell> {{element.departments.join(", ")}} </td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let element" mat-cell>
          <button (click)="onUserEdit(element)" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="deleteUser(element)" mat-icon-button style="color: indianred">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
  <mat-spinner *ngIf="!dataReady" style="margin: 0 auto"></mat-spinner>
</div>

