<div fxFlexFill fxLayout="column">
  <mat-toolbar fxFlex="6" fxLayoutGap="20px">
    <img alt="Vestlia Resort" routerLink="" src="/assets/logo/VR_black.svg" width="320px">
    <span fxFlex></span>
    <ng-container *ngIf="isLoggedIn()">

      <button mat-button routerLink="">Home</button>
      <button mat-button routerLink="/user">Profile</button>
      <button (click)="logout()" mat-button>Logout</button>
    </ng-container>
  </mat-toolbar>
  <div class="main" fxFlex style="overflow: hidden">
    <router-outlet></router-outlet>
  </div>
</div>

