<mat-toolbar fxLayoutGap="20px" fxLayoutAlign="center center">
  <button mat-raised-button (click)="employessSelected()">Employees</button>
  <button mat-raised-button (click)="mealsSelected()">Meals</button>
  <button mat-raised-button (click)="reservationsSelected()">Reservations</button>
  <span fxFlex></span>
  <button mat-raised-button style="background-color: turquoise" *ngIf="showEmployees" (click)="getReport()">Add new employee</button>
  <button mat-raised-button style="background-color: aquamarine" *ngIf="showMeals" (click)="getReport()">Download report</button>
</mat-toolbar>
<div fxFlexFill fxLayout="column">
  <div fxFlex *ngIf="showEmployees"  style=" overflow: auto; margin: 10px">
    <mat-card>
      <mat-card-content>
        <form fxLayoutGap="15px" fxLayoutAlign="center center" fxLayout="row" [formGroup]="searchForm" (ngSubmit)="onSearch()">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="searchName">
          </mat-form-field>
          <mat-form-field *ngIf="departmentList !== undefined">
            <mat-label>Department</mat-label>
            <mat-select formControlName="searchDepartment">
              <mat-option *ngFor="let dep of departmentList" [value]="dep.name">
                {{dep.id}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button type="submit">Search</button>
          <button mat-raised-button type="reset" (click)="onReset()">Reset</button>
        </form>
      </mat-card-content>
    </mat-card>
    <table mat-table [dataSource]="employess">
      <ng-container matColumnDef="employeeNumber">
        <th mat-header-cell *matHeaderCellDef> Employee No. </th>
        <td mat-cell *matCellDef="let element"> {{element.employeeNumber}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
    </ng-container>
      <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef> Departments </th>
      <td mat-cell *matCellDef="let element"> {{element.departments.join(", ")}} </td>
    </ng-container><ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="onUserEdit(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div fxFlex *ngIf="showMeals" style="margin: 10px">
    <mat-card>
      <mat-card-content>
        <form fxLayoutGap="15px" fxLayoutAlign="center center" fxLayout="row" [formGroup]="searchForm" (ngSubmit)="onSearch()">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="searchName">
          </mat-form-field>
          <mat-form-field *ngIf="departmentList !== undefined">
            <mat-label>Department</mat-label>
            <mat-select formControlName="searchDepartment">
              <mat-option *ngFor="let dep of departmentList" [value]="dep.name">
                {{dep.id}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button type="submit">Search</button>
          <button mat-raised-button type="reset" (click)="onReset()">Reset</button>
        </form>
      </mat-card-content>
    </mat-card>


    <table mat-table [dataSource]="users">
      <ng-container matColumnDef="employeeNumber">
        <th mat-header-cell *matHeaderCellDef> Employee No. </th>
        <td mat-cell *matCellDef="let element"> {{element.user.employeeNumber}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.user.firstName}} {{element.user.lastName}} </td>
      </ng-container>
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef> Departments </th>
        <td mat-cell *matCellDef="let element"> {{element.user.departments.join(", ")}} </td>
      </ng-container>
      <ng-container matColumnDef="meals">
        <th mat-header-cell *matHeaderCellDef>Number of meals</th>
        <td mat-cell *matCellDef="let element">
          {{element.mealEntry.mealCount}}
        </td>
    </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Departments </th>
        <td mat-cell *matCellDef="let element"> {{element.total | currency:'EUR'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsMeals; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsMeals;"></tr>
    </table>
  </div>

  <div fxFlex *ngIf="showReservations">
    <app-reservation></app-reservation>
  </div>
</div>
