
<div fxFlexFill fxLayout="column" fxLayoutGap="10px">
    <mat-toolbar fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <button fxFlex="15" (click)="employessSelected()" [disabled]="showEmployees" mat-button>Employees</button>
      <button fxFlex="15"  (click)="mealsSelected()" [disabled]="showMeals" mat-button>Meals</button>
      <button fxFlex="15"  (click)="reservationsSelected()" [disabled]="showReservations" mat-button>Reservations</button>
    </mat-toolbar>

  <div fxFlex>
    <div fxFlex *ngIf="showEmployees" style="margin: 10px; overflow: auto; padding-bottom: 10px">
      <app-employees (refresh)="onRefresh()" [departmentList]="departmentList">
      </app-employees>
    </div>
    <div fxFlex *ngIf="showMeals" style="margin: 10px; overflow: auto">
      <app-report [departmentList]="departmentList" [price]="price"></app-report>
    </div>
    <div fxFlex *ngIf="showReservations" style="margin: 10px; overflow: auto">
      <app-reservation></app-reservation>
    </div>
  </div>
</div>
