<mat-toolbar fxLayoutGap="20px" fxLayoutAlign="center center">
  <button mat-raised-button (click)="employessSelected()">Employees</button>
  <button mat-raised-button (click)="mealsSelected()">Meals</button>
  <button mat-raised-button (click)="reservationsSelected()">Reservations</button>
  </mat-toolbar>
<div>
  <div fxFlex style="margin: 10px" *ngIf="showEmployees">
    <app-employees  *ngIf="employess" [employees]="employess" [departmentList]="departmentList">

    </app-employees>
  </div>
  <div fxFlex *ngIf="showMeals" style="margin: 10px">
  <app-report *ngIf="entries" [entries]="entries" [departmentList]="departmentList" [price]="price"></app-report>
  </div>
  <div fxFlex *ngIf="showReservations">
    <app-reservation *ngIf="reservations" [reservations]="reservations" ></app-reservation>
  </div>
</div>
