<mat-card fxFlex fxLayoutGap="20px" style="padding: 15px">
  <mat-card-header>
    <mat-card-title>Create new department</mat-card-title>
  </mat-card-header>
  <mat-card-content style="padding: 15px">
    <form (ngSubmit)="createDepartment()" [formGroup]="createForm" fxLayout="column" fxLayoutAlign="center center"
          fxLayoutGap="15px">

      <mat-form-field fxFlex style="width: 100%">
        <mat-label>Department Name</mat-label>
        <input formControlName="departmentName" matInput type="text">
      </mat-form-field>
      <button mat-raised-button style="width: 50%" type="submit">Create</button>
    </form>
  </mat-card-content>
</mat-card>
