<div fxFlexFill fxLayout="column" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutGap="20px">
    <button mat-icon-button (click)="onTaskEditBtnClick()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="page-title">Task Lists</span>
  </div>

  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="taskForm"
    fxLayout="column"
    fxLayoutGap="10px"
    class="content-div"
  >
    <div fxLayout="row" fxLayoutAlign="space-between" class="header-div">
      <div>
        <span class="title">Edit Task</span>
      </div>
      <button
        mat-button
        class="custom-button-2"
        [disabled]="taskForm.invalid"
        type="submit"
      >
        <span>Save</span>
        <mat-icon iconPositionEnd class="material-icons-outlined"
          >save</mat-icon
        >
      </button>
    </div>
    <div
      fxLayout="row"
      fxLayoutGap="10px"
      fxLayoutAlign="start center"
      class="edit-div"
    >
      <mat-icon class="material-icons-outlined">edit</mat-icon>
      <span>Task Name:</span>
      <input type="text" formControlName="title" placeholder="Title..." />
    </div>
    <div fxLayout="column" fxLayoutGap="10px" class="edit-div">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <mat-icon>edit_document</mat-icon>
        <span>Description:</span>
      </div>
      <textarea
        rows="5"
        formControlName="description"
        placeholder="Description..."
      ></textarea>
    </div>
    <!-- <div
      fxLayout="row"
      fxLayoutGap="10px"
      fxLayoutAlign="start center"
      class="edit-div"
    >
      <mat-icon class="material-icons-outlined">attach_file</mat-icon>
      <span>Add Attachment:</span>
      <input type="text" placeholder="Attachment..." />
    </div> -->
  </form>
</div>
