<div fxFlex fxLayoutGap="20px" style="padding: 15px; height: 100%">
  <form style="height: 100%; width: 100%" fxFlexFill (ngSubmit)="onSubmit()" [formGroup]="taskForm" fxLayout="column"
        fxLayoutAlign="center center">
    <mat-tab-group fxFlex style="width: 100%; height: 100%;">
      <mat-tab label="Task List" fxLayout="column"  fxLayoutGap="25px" fxFlex>
        <mat-form-field style="width: 100%; margin-top: 10px">
          <mat-label>Task List Title</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>
        <mat-form-field style="width: 100%; margin-top: 10px">
          <mat-label>Departments</mat-label>
          <mat-select formControlName="departments" multiple>
            <mat-option *ngFor="let d of departmentList"
                        [value]='d.id'>{{d.departmentName}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="margin-top: 10px">
          <input matInput
                 [format]="24"
                 formControlName="activeFrom"
                 [ngxMatTimepicker]="pickerD"
                 placeholder="00:00"/>
          <mat-icon matSuffix
                    (click)="pickerD.open()">
            watch_later
          </mat-icon>
        </mat-form-field>
        <div class="ngx-mtp-box-bordered">
          <ngx-mat-timepicker color="primary"
                              appendToInput="false"
                              #pickerD></ngx-mat-timepicker>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" style="margin: 10px">
          <ng-container>
            <mat-label>Repeat</mat-label>
            <mat-slide-toggle (click)="onRepeatToggle()" formControlName="doesRepeat"></mat-slide-toggle>
          </ng-container>
          <span fxFlex></span>
          <ng-container>
            <mat-label>Active</mat-label>
            <mat-slide-toggle color="primary" formControlName="active"></mat-slide-toggle>
          </ng-container>
        </div>
        <div [formGroupName]="'repeat'">
          <div [hidden]="!taskForm.controls.doesRepeat.value">
            <mat-radio-group name="repeatType" [formControlName]="'repeatType'" style="width: 100%; margin-top: 10px">
              <mat-radio-button (click)="onWeekly()" color="primary" name="meekly" value="WEEKLY">Weekly
              </mat-radio-button>
              <mat-radio-button (click)="resetRepeat()" color="primary" name="monthly" value="MONTHLY">Monthly
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div [hidden]="taskForm.controls.repeat.controls.repeatType.value !== 'WEEKLY'"  style="width: 100%; margin-top: 10px">
            <mat-form-field style="width: 100%; margin-bottom: 10px">
              <mat-label>Repeat every</mat-label>
              <mat-select [formControlName]="'repeatEvery'">
                <mat-option *ngFor="let d of weekRange" [value]="d">{{d}} weeks</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-chip-listbox [formControlName]="'repeatOnWeekDays'" [multiple]="true" style="margin: 10px">
              <mat-chip-option *ngFor="let day of weekDays" [value]="day.id">{{day.label}}</mat-chip-option>
            </mat-chip-listbox>
          </div>
          <div [hidden]="taskForm.controls.repeat.controls.repeatType.value !== 'MONTHLY'">
            <mat-tab-group (selectedTabChange)="resetMonthly()">
              <mat-tab label="Repeat on date">
                <mat-form-field style="width: 100%">
                  <mat-label>Repeat on:</mat-label>
                  <mat-select [formControlName]="'repeatOnMonthDay'">
                    <mat-option *ngFor="let d of dayRangeMonthFull" [value]="d.id">{{d.label}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-tab>
              dayRangeMonthFull
              <mat-tab label="Repeat on day">
                <mat-form-field style="width: 100%">
                  <mat-label>Repeat every</mat-label>
                  <mat-select [formControlName]="'repeatDayEnumValue'">
                    <mat-option *ngFor="let d of dayRangeMonth" [value]="d.id">{{d.label}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-chip-listbox [formControlName]="'repeatDayEnum'" [multiple]="false">
                  <mat-chip-option *ngFor="let day of weekDaysMonth" [value]="day.id">{{day.label}}</mat-chip-option>
                </mat-chip-listbox>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>

      </mat-tab>
      <mat-tab fxFlex label="Tasks" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center">
       <mat-list #list style="width: 100%; max-height: 550px; display: block; overflow-y:  auto;">
             <mat-list-item role="listitem"
                            style="width: 100%; height: 490px;"
                            fxFlexFill
                            *ngFor="let task of taskForm.controls.tasks.value; index as i;">
               <app-task-edit-item style="width: 100%" fxFlex [taskInfo]="task" [editing]=" editNew && i === taskForm.controls.tasks.value.length-1 "
                                   [appScrollIntoView]="task === selectedTask" [index]=" i"
               (deleteEvent)="deleteTask($event)" (editingEvent)="editNew = false"></app-task-edit-item>
                  </mat-list-item>
           </mat-list>
           <button fxFlex color="accent" fxFlexAlign="center" type="button" mat-raised-button (click)="createTask()"
                   style="width: 95%; margin: 10px">
             <mat-icon>add</mat-icon>
           </button>


      </mat-tab>
    </mat-tab-group>
    <span fxFlexFill></span>
    <button [disabled]="taskForm.invalid" mat-raised-button color="primary" fxFlexAlign="auto" type="submit" style="width: 100%; margin: 10px">Save</button>
  </form>
</div>
