<div fxFlex fxLayout="column" style="margin: 5px">
  <span mat-dialog-title>Employee info</span>
  <mat-form-field>
  <mat-label>First name</mat-label>
  <input matInput type="text"  [(ngModel)]="user.firstName">
</mat-form-field><mat-form-field>
  <mat-label>Last name</mat-label>
  <input matInput type="text" [(ngModel)]="user.lastName">
</mat-form-field>
  <mat-form-field>
    <mat-label>E-mail</mat-label>
    <input matInput type="email"  [(ngModel)]="user.email">
  </mat-form-field>

  <button mat-raised-button type="submit" (click)="onSubmit()">Save</button>
  <div fxLayoutGap="15px" style="margin-top: 20px">

    <mat-form-field fxFill class="example-chip-list">
      <mat-label>Departments</mat-label>
      <mat-chip-grid #chipGrid aria-label="Enter fruits">
        <mat-chip-row *ngFor="let dep of user.departments"
                      (removed)="remove(dep)"
                      [editable]="true">
          {{dep}}
          <button matChipRemove [attr.aria-label]="'remove ' + dep">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        <input placeholder="New department..."
               [matChipInputFor]="chipGrid"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="add($event)"/>
      </mat-chip-grid>
    </mat-form-field>

  </div>
</div>
