<div>
  <p>Last 24 hours</p>
  <p>Active users in App</p>
  <p>XX</p>
</div>

<div>
  <p>Last hour</p>
  <p>Active users in App</p>
  <p>XX</p>
</div>

<div>
  <p>Hourly Activity</p>
  <p>Heatmap of Activity in App</p>
  <p>"graph"</p>
</div>

<div>
  <p>Usage this Week</p>
  <p>DD.MM.YYYY - DD.MM.YYYY</p>
  <div>
    <p>To-Do Lists</p>
    <p>Tasks Completed</p>
    <p>X</p>
    <p>Previous Week: 0</p>
  </div>

  <div>
    <p>To-Do Lists</p>
    <p>Tasks Completed</p>
    <p>X</p>
    <p>Previous Week: 0</p>
  </div>

  <div>
    <p>Food Tracker</p>
    <div>
      <p>Meals Scanned</p>
      <p>X</p>
      <p>Previous Week: 0</p>
    </div>
    <div>
      <p>Meals Registered</p>
      <p>X</p>
      <p>Previous Week: 0</p>
    </div>
  </div>

  <div>
    <p>Users</p>
    <p>New Users Registered</p>
    <p>X</p>
    <p>Previous Week: 0</p>
  </div>
</div>

<div>
  <p>Usage this Month</p>
  <p>DD.MM.YYYY - DD.MM.YYYY</p>
  <div>
    <p>To-Do Lists</p>
    <p>Tasks Completed</p>
    <p>X</p>
    <p>Previous Week: 0</p>
  </div>

  <div>
    <p>To-Do Lists</p>
    <p>Tasks Completed</p>
    <p>X</p>
    <p>Previous Week: 0</p>
  </div>

  <div>
    <p>Food Tracker</p>
    <div>
      <p>Meals Scanned</p>
      <p>X</p>
      <p>Previous Week: 0</p>
    </div>
    <div>
      <p>Meals Registered</p>
      <p>X</p>
      <p>Previous Week: 0</p>
    </div>
  </div>

  <div>
    <p>Users</p>
    <p>New Users Registered</p>
    <p>X</p>
    <p>Previous Week: 0</p>
  </div>
</div>
