/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
.mdc-notched-outline__notch {
  border-right-style: hidden;
}

.mat-mdc-input-element {
  box-shadow: none !important;
}

.sticky {
  position: sticky !important;
}

[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  padding: 0;
  border: none;
}
/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
  50 : #f6f1eb,
  100 : #e9ddcd,
  200 : #dbc6ac,
  300 : #ccaf8a,
  400 : #c19e71,
  500 : #b68d58,
  600 : #af8550,
  700 : #a67a47,
  800 : #9e703d,
  900 : #8e5d2d,
  A100 : #ffe8d4,
  A200 : #ffcda1,
  A400 : #ffb36e,
  A700 : #ffa554,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-secondary: (
  50 : #fdfcfa,
  100 : #f9f7f4,
  200 : #f5f1ec,
  300 : #f1ebe4,
  400 : #eee7df,
  500 : #ebe3d9,
  600 : #e9e0d5,
  700 : #e5dccf,
  800 : #e2d8ca,
  900 : #ddd0c0,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-accent: (
  50 : #fefefd,
  100 : #fdfcfb,
  200 : #fbfaf9,
  300 : #f9f8f6,
  400 : #f8f7f4,
  500 : #f7f5f2,
  600 : #f6f4f0,
  700 : #f5f2ee,
  800 : #f3f0ec,
  900 : #f1eee8,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);




$my-primary: mat.define-palette($md-primary, 500);
$my-accent: mat.define-palette($md-secondary, A200, A100, A400);

$my-warn: mat.define-palette(mat.$red-palette);
$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn
  ),

  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($my-theme);
