/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

@font-face {
  font-family: "worksans";
  font-style: normal;
  font-weight: normal;
  src: url("../src/assets/fonts/WorkSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "worksans-500";
  font-style: normal;
  font-weight: 500;
  src: url("../src/assets/fonts/WorkSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "worksans-bold";
  font-style: normal;
  font-weight: bold;
  src: url("../src/assets/fonts/WorkSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: "worksans-semibold";
  font-style: normal;
  src: url("../src/assets/fonts/WorkSans-SemiBold.ttf");
}

@font-face {
  font-family: "baskerville";
  font-style: normal;
  font-weight: normal;
  src: url("../src/assets/fonts/baskerville.ttf");
}

:root {
  --icon_color: #ccaf8a;
}

@include mat.core();
html,
body {
  height: 100%;
  //font-family: "worksans", sans-serif;
  background-color: #f7f5f3;
  color: #414141;
}
body {
  margin: 0;
}
.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-right-style: hidden;
}

.mat-mdc-input-element {
  box-shadow: none !important;
}

.sticky {
  position: sticky !important;
}

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
  padding: 0;
  border: none;
}

/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
  50: #f6f1eb,
  100: #e9ddcd,
  200: #dbc6ac,
  300: #ccaf8a,
  400: #c19e71,
  500: #b68d58,
  600: #af8550,
  700: #a67a47,
  800: #9e703d,
  900: #8e5d2d,
  A100: #ffe8d4,
  A200: #ffcda1,
  A400: #ffb36e,
  A700: #ffa554,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-secondary: (
  50: #fdfcfa,
  100: #f9f7f4,
  200: #f5f1ec,
  300: #f1ebe4,
  400: #eee7df,
  500: #ebe3d9,
  600: #e9e0d5,
  700: #e5dccf,
  800: #e2d8ca,
  900: #ddd0c0,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-accent: (
  50: #fefefd,
  100: #fdfcfb,
  200: #fbfaf9,
  300: #f9f8f6,
  400: #f8f7f4,
  500: #f7f5f2,
  600: #f6f4f0,
  700: #f5f2ee,
  800: #f3f0ec,
  900: #f1eee8,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$my-primary: mat.define-palette($md-primary, 500);
$my-accent: mat.define-palette($md-secondary, A200, A100, A400);
$my-alt: mat.define-palette($md-primary, A700, A100, A400);
$my-alt-accent: mat.define-palette($md-secondary, A200, A100, A400);

$custom-typography: mat.define-typography-config(
  $font-family: "worksans",
);

$my-warn: mat.define-palette(mat.$red-palette);
$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
      alt: $my-alt,
      alt-accent: $my-alt-accent,
    ),
    typography: $custom-typography,
    density: 0,
  )
);

.custom-form-field {
  --mdc-outlined-text-field-outline-color: #ccaf8a;
  --mdc-outlined-text-field-hover-outline-color: #ccaf8a;
  //--mdc-outlined-text-field-focus-outline-color: #ccaf8a;

  .mat-mdc-text-field-wrapper {
    background-color: #fcf8f2;
    --mdc-outlined-text-field-outline-width: 2px; // border width
    --mdc-outlined-text-field-container-shape: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .mat-icon {
    color: #d3bfa5;
  }
}

.custom-button {
  background-color: #fcf8f2 !important;
  border: 2px solid #ccaf8a !important;
  color: #ccaf8a !important;
  border-radius: 10px !important;
}

.custom-button-2 {
  font-family: "baskerville" !important;
  font-weight: 600 !important;
  background-color: #ebe3d9 !important;
  box-shadow: 0vh 0vh 0.3vh #666 !important;
  border-radius: 10px !important;
  height: auto !important;
  padding: 5px 10px !important;
}

.custom-button-3 {
  font-family: "baskerville" !important;
  font-weight: 600 !important;
  background: linear-gradient(
    90deg,
    rgba(218, 198, 170, 1) 0%,
    rgba(218, 198, 170, 1) 50%,
    rgba(191, 167, 152, 1) 100%
  ) !important;
  box-shadow: 0vh 0vh 0.3vh #666 !important;
  border-radius: 10px !important;
  height: auto !important;
  padding: 5px 10px !important;
}

.custom-green-chip {
  background: linear-gradient(
    90deg,
    rgba(218, 231, 206, 1) 0%,
    rgba(180, 202, 156, 1) 100%
  );
}

.custom-yellow-chip {
  background: linear-gradient(
    90deg,
    rgba(245, 242, 177, 1) 0%,
    rgba(239, 200, 151, 1) 100%
  );
}

.custom-red-chip {
  background: linear-gradient(
    90deg,
    rgba(245, 185, 173, 1) 0%,
    rgba(214, 119, 125, 1) 100%
  );
}

.dense-2 {
  @include mat.all-component-densities(-3);
}

// .gradient-btn {
//   ion-item {
//     box-shadow: none;
//     text-shadow: none;
//     border-radius: 15px;
//   }
//   ion-button {
//     border-radius: 15px;
//     font-size: 15px;
//   }
//   font-family: "worksans-semibold";
//   border-radius: 15px;
//   font-size: 1.2em;
//   --margin-bottom: 1vh;
//   --color: linear-gradient(
//     90deg,
//     rgba(225, 205, 175, 0.6) 0%,
//     rgba(199, 160, 89, 0.45) 33%,
//     rgba(190, 147, 80, 0.4) 100%
//   ) !important;
//   --background: linear-gradient(
//     90deg,
//     rgba(225, 205, 175, 0.6) 0%,
//     rgba(199, 160, 89, 0.45) 33%,
//     rgba(190, 147, 80, 0.4) 100%
//   ) !important;
//   background-image: linear-gradient(
//     90deg,
//     rgba(225, 205, 175, 0.6) 0%,
//     rgba(199, 160, 89, 0.45) 33%,
//     rgba(190, 147, 80, 0.4) 100%
//   ) !important;
// }

.timepicker-overlay {
  z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
  z-index: 10000000 !important;
}
.mat-mdc-tab-body-content {
  overflow: hidden !important;
}
#mat-mdc-dialog-0 > div {
  overflow: hidden;
}

@include mat.all-component-themes($my-theme);
@include mat.typography-hierarchy($my-theme);
