<div fxFlexFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
  <mat-card (click)="onFoodTrackerClicked()" fxFlex="10"
            fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" style="width: 25%;">
    <mat-icon fxFlex fxLayoutAlign="end center" style="font-size: xx-large; width: 100%; height: 100%">restaurant
    </mat-icon>
    <mat-label fxFlex="60" style="font-size: large; width: 100%">Food Tracker</mat-label>
  </mat-card>
  <mat-card fxFlex="10" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" style="width: 25%;" (click)="onTaskClicked()">
    <mat-icon fxFlex fxLayoutAlign="end center" style="font-size: xx-large; width: 100%; height: 100%;">task
    </mat-icon>
    <mat-label fxFlex="60" style="font-size: large; width: 100%">Task Manager</mat-label>
  </mat-card>
</div>
