<div fxFlexFill fxLayoutGap="15px" fxLayout="column" fxLayoutAlign="center center">
  <mat-card (click)="onFoodTrackerClicked()" fxLayoutGap="15px"
            fxFlex="10" style="width: 25%;" fxLayoutAlign="center center" fxLayout="row">
    <mat-icon fxFlex fxLayoutAlign="end center" style="font-size: xx-large; width: 100%; height: 100%">restaurant</mat-icon>
    <mat-label fxFlex="60" style="font-size: large; width: 100%">Food Tracker</mat-label>
  </mat-card>
  <mat-card fxFlex="10" style="width: 25%;" fxLayoutAlign="center center" fxLayout="row"  fxLayoutGap="15px">
      <mat-icon fxFlex fxLayoutAlign="end center" style="font-size: xx-large; width: 100%; height: 100%;">redeem</mat-icon>
      <mat-label fxFlex="60" style="font-size: large; width: 100%">Reward System</mat-label>
  </mat-card>
</div>
